html{
    margin: 0;
    padding: 0;
}
.container{
    /*Posicionamento*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title{
    /*Posicionamento*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Dimensões*/
    height: 30px;
    width: 50%;
    /*Texto*/
    color:black;    
    text-align: center;
    font: bold 20px arial, sans-serif ;
}
table{
    /*Dimensões*/
    width: 50%;
    /*Aspectos visuais*/
    border: 1px solid #2E6E80;
    border-collapse: collapse;
}
.tableHeader{
    /*Aspectos visuais*/
    background: #334D57;
    color: #FFF;
    border: 2px solid #2E6E80;
}
form{
    padding-top: 10px;
}